<h3><%= @logged_exceptions.first.name %></h3>
<p>This exception has been logged <strong><%= pluralize @logged_exceptions.length, "time" %></strong> with <strong><%= pluralize @grouped_exceptions.count, "different message" %></strong>.</p>

<% @grouped_exceptions.sort_by{ |message, count| count }.reverse.each do |message, count| %>
  <p><%= link_to message, logged_exception_message_path(@logged_exceptions.first.name, message) %> - <%= pluralize count, "time" %></p>
<% end %>
